anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1749054781012/work
annotated-types @ file:///work/perseverance-python-buildout/croot/annotated-types_1728407282600/work
archspec @ file:///croot/archspec_1709217642129/work
boltons @ file:///croot/boltons_1751383734872/work
brotlicffi @ file:///croot/brotlicffi_1736182468590/work
certifi @ file:///croot/certifi_1752653708734/work/certifi
cffi @ file:///croot/cffi_1736182496610/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
conda @ file:///croot/conda_1749171262198/work/conda-src
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1751062006695/work
conda-anaconda-tos @ file:///croot/conda-anaconda-tos_1752801569019/work
conda-content-trust @ file:///work/perseverance-python-buildout/croot/conda-content-trust_1728507652179/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1745607008911/work/src
conda-package-handling @ file:///croot/conda-package-handling_1731369021572/work
conda_package_streaming @ file:///croot/conda-package-streaming_1751307508976/work
cryptography @ file:///croot/cryptography_1748977433828/work
distro @ file:///work/perseverance-python-buildout/croot/distro_1728480038109/work
frozendict @ file:///work/perseverance-python-buildout/croot/frozendict_1728480246023/work
idna @ file:///work/perseverance-python-buildout/croot/idna_1728406285595/work
jsonpatch @ file:///work/perseverance-python-buildout/croot/jsonpatch_1728480643704/work
jsonpointer==2.1
libmambapy @ file:///croot/mamba-split_1734469473285/work/libmambapy
markdown-it-py @ file:///work/perseverance-python-buildout/croot/markdown-it-py_1728408399614/work
mdurl @ file:///work/perseverance-python-buildout/croot/mdurl_1728407610863/work
menuinst @ file:///croot/menuinst_1750861706279/work
packaging @ file:///croot/packaging_1734472115061/work
platformdirs @ file:///croot/platformdirs_1744273047827/work
pluggy @ file:///croot/pluggy_1733169620750/work
pycosat @ file:///croot/pycosat_1736868411880/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///croot/pydantic_1750768273517/work
pydantic_core @ file:///croot/pydantic-core_1750754738270/work
Pygments @ file:///croot/pygments_1744664115646/work
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1728406488267/work
requests @ file:///croot/requests_1750426335554/work
rich @ file:///croot/rich_1732638988216/work
ruamel.yaml @ file:///croot/ruamel.yaml_1745960308213/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1745937156736/work
setuptools==78.1.1
tqdm @ file:///croot/tqdm_1738943461672/work
truststore @ file:///croot/truststore_1736550128580/work
typing-inspection @ file:///croot/typing-inspection_1746023477458/work
typing_extensions @ file:///croot/typing_extensions_1734714855955/work
urllib3 @ file:///croot/urllib3_1750775465825/work
wheel==0.45.1
zstandard @ file:///croot/zstandard_1731356343166/work
