absl-py==2.3.1
anyio @ file:///C:/miniconda3/conda-bld/anyio_1758622431960/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/miniconda3/conda-bld/argon2-cffi-bindings_1757925008107/work
asttokens @ file:///C:/b/abs_9662ywy9fp/croot/asttokens_1743630464377/work
astunparse==1.6.3
async-lru @ file:///C:/miniconda3/conda-bld/async-lru_1761121585997/work
attrs @ file:///C:/miniconda3/conda-bld/attrs_1762356899263/work
babel @ file:///C:/miniconda3/conda-bld/babel_1764159347589/work
backcall==0.2.0
beautifulsoup4 @ file:///C:/miniconda3/conda-bld/beautifulsoup4-split_1764159472392/work
bleach @ file:///C:/miniconda3/conda-bld/bleach_1764153692079/work
Bottleneck @ file:///C:/miniconda3/conda-bld/bottleneck_1761938072950/work
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961399696/work
certifi @ file:///C:/miniconda3/conda-bld/certifi_1763135350040/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832792995/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744960410/work
click==8.3.1
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1699472650914/work
comm @ file:///C:/miniconda3/conda-bld/comm_1763119289758/work
contourpy @ file:///C:/miniconda3/conda-bld/contourpy_1763643943275/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1762421659047/work
decorator @ file:///C:/miniconda3/conda-bld/decorator_1757341251593/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
docopt==0.6.2
executing @ file:///C:/miniconda3/conda-bld/executing_1757061247746/work
fastjsonschema @ file:///C:/miniconda3/conda-bld/python-fastjsonschema_1763718733511/work
flatbuffers==25.12.19
fonttools @ file:///C:/miniconda3/conda-bld/fonttools_1765445216921/work
gast==0.7.0
google-pasta==0.2.0
grpcio==1.76.0
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931280755/work
h5py==3.15.1
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httpx @ file:///C:/miniconda3/conda-bld/httpx_1760447370855/work
idna @ file:///C:/miniconda3/conda-bld/idna_1761912000545/work
ImageIO==2.37.2
imbalanced-learn==0.14.1
ipykernel @ file:///C:/miniconda3/conda-bld/ipykernel_1762946093253/work
ipython==8.12.3
ipython_pygments_lexers @ file:///C:/b/abs_b66hj1lo19/croot/ipython_pygments_lexers_1744753262043/work
ipywidgets @ file:///C:/miniconda3/conda-bld/ipywidgets_1761560218664/work
jedi @ file:///C:/b/abs_3a2kbnlclc/croot/jedi_1733987412687/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
joblib @ file:///C:/miniconda3/conda-bld/joblib_1757926366880/work
json5 @ file:///C:/miniconda3/conda-bld/json5_1763718583099/work
jsonschema @ file:///C:/miniconda3/conda-bld/jsonschema_1762459347213/work
jsonschema-specifications @ file:///C:/miniconda3/conda-bld/jsonschema-specifications_1762788642063/work
jupyter @ file:///C:/b/abs_32aohix0i1/croot/jupyter_1737645821205/work
jupyter-console @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/jupyter_console_1707430148515/work
jupyter-events @ file:///C:/b/abs_9cm3qlticu/croot/jupyter_events_1741184612840/work
jupyter-lsp @ file:///C:/b/abs_7171flzdkg/croot/jupyter-lsp-meta_1745827033118/work
jupyter_client @ file:///C:/miniconda3/conda-bld/jupyter_client_1762943155246/work
jupyter_core @ file:///C:/miniconda3/conda-bld/jupyter_core_1764588340612/work
jupyter_server @ file:///C:/miniconda3/conda-bld/jupyter_server_1764955297355/work
jupyter_server_terminals @ file:///C:/b/abs_adjrm9dtns/croot/jupyter_server_terminals_1744706714294/work
jupyterlab @ file:///C:/miniconda3/conda-bld/jupyterlab_1764604324222/work
jupyterlab_pygments @ file:///C:/b/abs_d5alfet8m6/croot/jupyterlab_pygments_1741124274578/work
jupyterlab_server @ file:///C:/miniconda3/conda-bld/jupyterlab_server_1761751441437/work
jupyterlab_widgets @ file:///C:/b/abs_6566by8dag/croot/jupyterlab_widgets_1752066574111/work
keras==3.13.0
kiwisolver @ file:///C:/miniconda3/conda-bld/kiwisolver_1764159385651/work
lazy_loader==0.4
libclang==18.1.1
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib==3.10.7
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1762779270163/work
mdurl==0.1.2
mistune @ file:///C:/b/abs_77yql3poyz/croot/mistune_1741124004410/work
mkl-service==2.5.2
mkl_fft @ file:///C:/miniconda3/conda-bld/mkl_fft_1761592917950/work
mkl_random @ file:///C:/miniconda3/conda-bld/mkl_random_1761593166070/work
ml_dtypes==0.5.4
namex==0.1.0
nbclient @ file:///C:/b/abs_a09c4t3h8x/croot/nbclient_1741124030330/work
nbconvert @ file:///C:/b/abs_c27_60dzt8/croot/nbconvert-meta_1741191385337/work
nbformat @ file:///C:/b/abs_c2jkw46etm/croot/nbformat_1728050303821/work
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
networkx==3.6.1
nltk==3.9.2
notebook @ file:///C:/miniconda3/conda-bld/notebook_1764679901841/work
notebook_shim @ file:///C:/b/abs_9ctyfgpncn/croot/notebook-shim_1741707829491/work
numexpr @ file:///C:/miniconda3/conda-bld/numexpr_1762165727877/work
numpy @ file:///C:/miniconda3/conda-bld/numpy_and_numpy_base_1763980696204/work/dist/numpy-2.3.5-cp312-cp312-win_amd64.whl#sha256=bb8e9f7cb576c32f24212604430b2633f649dc00ee0a9d8d46e18853acc3c7f9
opencv-python==4.12.0
opencv-python-headless==4.12.0
opt_einsum==3.4.0
optree==0.18.0
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049137378/work
pandas @ file:///C:/miniconda3/conda-bld/pandas_1762332401650/work/dist/pandas-2.3.3-cp312-cp312-win_amd64.whl#sha256=31f3f2ea38ad67d0e1e92b191f191182ac281491c0bbe0b8a2c362da578d5ab8
pandocfilters @ file:///C:/miniconda3/conda-bld/pandocfilters_1756977625907/work
parso @ file:///C:/miniconda3/conda-bld/parso_1762781973155/work
pickleshare==0.7.5
pillow @ file:///C:/miniconda3/conda-bld/pillow_1762528255579/work
pipreqs==0.5.0
platformdirs @ file:///C:/miniconda3/conda-bld/platformdirs_1762356625676/work
prometheus_client @ file:///C:/b/abs_8b175q_ub8/croot/prometheus_client_1744271638821/work
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1761745042157/work
protobuf==6.33.2
psutil @ file:///C:/miniconda3/conda-bld/psutil_1761896535983/work
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067062212/work
pyarrow==23.0.0
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496054990/work
Pygments @ file:///C:/miniconda3/conda-bld/pygments_1762431426600/work
pyparsing @ file:///C:/miniconda3/conda-bld/pyparsing_1763973902692/work
PyQt6==6.9.1
PyQt6_sip @ file:///C:/miniconda3/conda-bld/pyqt-split_1757511035565/work/pyqt_sip
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030940/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-json-logger @ file:///C:/miniconda3/conda-bld/python-json-logger_1764590275574/work
pytz @ file:///C:/b/abs_f8wdzeix0n/croot/pytz_1752135878094/work
pywin32 @ file:///C:/b/abs_6c9w_vp9zi/croot/pywin32_1754670534373/work
pywinpty @ file:///C:/b/abs_883wh7sts8/croot/pywinpty_1741871674963/work
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465556755/work
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375609374/work
qtconsole @ file:///C:/miniconda3/conda-bld/qtconsole_1758748757376/work
QtPy @ file:///C:/miniconda3/conda-bld/qtpy_1757531170157/work
referencing @ file:///C:/miniconda3/conda-bld/referencing_1762536906757/work
regex==2026.1.15
requests @ file:///C:/miniconda3/conda-bld/requests_1762359612354/work
rfc3339-validator @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rfc3339-validator_1699543924991/work
rfc3986-validator @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rfc3986-validator_1699543955651/work
rich==14.2.0
rpds-py @ file:///C:/miniconda3/conda-bld/rpds-py_1762366604816/work
scikit-image==0.26.0
scikit-learn @ file:///C:/b/abs_45qemhn4lg/croot/scikit-learn_1753427401078/work
scipy @ file:///C:/miniconda3/conda-bld/scipy_1762194966620/work/dist/scipy-1.16.3-cp312-cp312-win_amd64.whl#sha256=70cdefacf51774d888f17da3a8230fdf07ffd1b5b39ffa0b247ff8d69e8529f6
seaborn @ file:///C:/b/abs_0bv5x0ucxb/croot/seaborn_1749110315600/work
Send2Trash @ file:///C:/b/abs_7e73ol18dl/croot/send2trash_1736542724140/work
setuptools==80.9.0
sip @ file:///C:/b/abs_f6ow8vlbb7/croot/sip_1756224172742/work
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
sklearn-compat==0.1.5
sniffio @ file:///C:/miniconda3/conda-bld/sniffio_1764329208029/work
soupsieve @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/soupsieve_1699496611169/work
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067057854/work
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.2.0
terminado @ file:///C:/miniconda3/conda-bld/terminado_1757934965665/work
threadpoolctl @ file:///C:/miniconda3/conda-bld/threadpoolctl_1764361791480/work
tifffile==2026.1.14
tinycss2 @ file:///C:/b/abs_df38owi5ma/croot/tinycss2_1738337725183/work
tornado @ file:///C:/b/abs_7dzpc171lf/croot/tornado_1748956950306/work
tqdm==4.67.3
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
urllib3 @ file:///C:/miniconda3/conda-bld/urllib3_1765399229311/work
wcwidth @ file:///C:/b/abs_0c8p4c33bp/croot/wcwidth_1750352902378/work
webencodings @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/webencodings_1699497069416/work
websocket-client @ file:///C:/b/abs_5dmnxxoci9/croot/websocket-client_1715878351319/work
Werkzeug==3.1.4
wheel==0.45.1
widgetsnbextension @ file:///C:/miniconda3/conda-bld/widgetsnbextension_1761556762389/work
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746278813/work
wrapt==2.0.1
xgboost==3.1.3
yarg==0.1.9
